@model IEnumerable<SalonCruella.Models.Randevu>

<h1>Randevu Listesi</h1>
<table>
    <tr>
        <th>Müşteri Adı</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Salon Adı</th>
        <th>Çalışan Adı</th>
    </tr>
    @foreach (var randevu in Model)
    {
        <tr>
            <td>@randevu.MusteriAdi</td>
            <td>@randevu.Tarih.ToShortDateString()</td>
            <td>@randevu.Saat</td>
            <td>@randevu.Salon?.Adi</td>
            <td>@randevu.Calisan?.Adi</td>
        </tr>
    }
</table>
